<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>

<script>
    function cal_data(data) {
        var date_count = {};

        for(var i = 0; i < data.length; i++){

            //count by date
            var date =  data[i][5].substring(0,10).length > 0 ? data[i][5].substring(0,10) : 'none';
            if (date in date_count){
                date_count[date] += 1;
            }else{
                date_count[date] = 1;
            }

        }

        var date_titles = Object.keys(date_count).reverse();
        var date_values = $.map(date_count, function(v) { return v; }).reverse();

        return [date_titles, date_values];
    }

    function update_chart(chart, label, data){
        chart.data.datasets[0].data = data;
        chart.data.labels = label;

        chart.update();
    }

    $(document).ready( function () {
        var table = $('#mytable').DataTable({
            scrollY: 400,
            scrollX: 400
        });
        var data = table.rows( { filter : 'applied'} ).data();
        var datafillter = cal_data(data);


        var ctx2 = document.getElementById("myChart2").getContext('2d');
        var myChart2 = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: datafillter[0],
                datasets: [{
                    data: datafillter[1],
                    backgroundColor: 'rgba(0, 137, 246, 0.6)',
                    borderColor: 'rgba(0, 113, 246, 1)'
                    ,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        maxBarThickness: 50,
                    }],
                },legend: {
                    display: false
                },title: {
                    display: true,
                    text: 'Total test case per date'
                }
            }
        });


        $('input').on( 'keyup change', function () {
            var data = table.rows( { filter : 'applied'} ).data();
            var datafillter = cal_data(data);
            update_chart(myChart2,datafillter[2], datafillter[3] );
        });
    });

</script>
<style>
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        margin-top: 20px;
    }

    table td, td {
        padding: 10px;
    }

    thead {
        padding: 20px;
    }

    table>tbody {
        overflow: auto;
        height: 280px;
        overflow-x: hidden;
    }

</style>
<!------ Include the above in your HEAD tag ---------->

<div style="margin-left:50px;margin-right:50px">
    <div class="header panel-heading" style="background-image:linear-gradient(347deg, #48c6ef, #2399d2);height: 80px;text-align: center;">
        <a href="/">
            <img src="/logo-tma.png" alt="logo-tma" style="width:100px; padding: 10px 0; height: auto; float: left">
        </a>
        <h2 style="margin-left: 150px;color: white;font-weight: bold;">TMA WEB LOG</h2>
    </div>
    <hr>
    <p>Inspired by this <a href="http://tma.com.vn">TMA Solutions</a></p>
    <div>
        <table class="table table-hover table-striped header-fixed" id="mytable">
            <thead class="bg-primary">
            <tr>
                <th>No</th>
                <th>User</th>
                <th>Client</th>
                <th>Duration</th>
                <th>Test case name</th>
                <th>Time Start</th>
                <th>IMEI</th>
                <th>CCID</th>
                <th>Product</th>
                <th>Serial</th>
            </tr>
            </thead>
            <tbody>
            <% if(data != null) {%>
            <% for(var i = 0; i < data.length; i++) {%>
            <tr>
                <td><%= i + 1%></td>
                <td class="c1"><%=data[i].user%></td>
                <td class="c1"><%=data[i].client %></td>
                <td class="c1"><%=data[i].duration %></td>
                <td class="c1"><%=data[i].testcase %></td>
                <td class="c1"><%=data[i].startTime%></td>
                <td class="c1"><%=data[i].imei %></td>
                <td class="c1"><%=data[i].ccid %></td>
                <td class="c1"><%=data[i].product %></td>
                <td class="c1"><%=data[i].serial %></td>
            </tr>
            <% } %>
            <% } %>
            </tbody>
        </table>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-7">
                <canvas id="myChart2" width="900" height="400"></canvas>
            </div>
        </div>
    </div>
</div>